.header {
  display: flex;
  justify-content: space-between;
  max-width: 945px;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

.header-logo {
  display: flex;
  text-align: center;
  align-items: center;
}

.header-logo img {
  display: block;
  text-align: center;
}
.topmenu {
  height: 100%;
  margin-top: 4px;
}
.nav li {
  display: inline-block;
}
.nav li a {
  display: block;
  padding: 13px 20px;
  font-size: 16px;
  font-weight: 600;
  height: 100%;
  width: 100%;
  color: #fff;
  &:hover {
    background-color: rgba(112, 10, 10, 0.5);
  }
}
